@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root {
    --cyan: hsl(180, 66%, 49%);
    --cyan-hover: hsl(180, 72%, 73%);
    --dark-violet: hsl(257, 27%, 26%);
    --red: hsl(0, 87%, 67%);
    --gray: hsl(0, 0%, 75%);
    --gray-light: hsl(255, 22%, 93%);
    --grayish-violet: hsl(257, 7%, 63%);
    --very-dark-blue: hsl(255, 11%, 22%);
    --very-dark-violet: hsl(260, 8%, 14%);
    --white: #fff;

    --border-radius-sm: 1.25rem;
    --border-radius-lg: 6rem;

    --transition: 0.25s all linear;
    --width: 85vw;
    --max-width: 1120px;
    --nav-height: 12rem;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
}

img {
    width: 100%;
    display: block;
}

ul {
    list-style-type: none;
}

.btn {
    display: block;
    background-color: var(--cyan);
    color: var(--white);
    font-size: 2rem;
    font-weight: 700;
    padding: 1.5rem 4rem;
    border: none;
    border-radius: var(--border-radius-lg);
    cursor: pointer;
    transition: var(--transition);
}

.btn:hover {
    background-color: var(--cyan-hover);
}

/*=============*/
/*= Navbar*/
/*=============*/
.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--white);
}

.nav-center {

    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 3rem;
}

.nav-header {
    height: var(--nav-height);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-img {
    width: 12rem;
}

.nav-btn {
    background-color: transparent;
    color: var(--gray);
    border: none;
    font-size: 3rem;
    transition: var(--transition);
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-btn:hover {
    transform: scale(1.15);
}

.nav-content {
    padding: 0 3rem;
    background-color: var(--dark-violet);
    border-radius: var(--border-radius-sm);
    transition: height 0.25s linear;

    height: 0;
    overflow: hidden;
}

.show-links {
    height: 377px;
}

.nav-links {
    padding-top: 2.5rem;
}

.nav-link {
    display: block;
    color: var(--white);
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    transition: var(--transition);
}

.nav-link:hover {
    color: var(--gray);
}

.line {
    margin: 1.5rem 0;
    background-color: var(--gray);
    height: 1px;
    border: none;
}

.nav-btns {
    padding-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem 0;
}

.login-btn {
    color: var(--white);
    background-color: transparent;
    border: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1.5rem;
    cursor: pointer;
    transition: var(--transition);
}

.login-btn:hover {
    color: var(--gray);
}

.signup-btn {
    width: 100%;
    background-color: var(--cyan);
    color: var(--white);
    font-size: 2rem;
    font-weight: 700;
    padding: 1.5rem;
    border: none;
    border-radius: var(--border-radius-lg);
    margin-bottom: 2rem;
    cursor: pointer;
    transition: var(--transition);
}

.signup-btn:hover {
    background-color: var(--cyan-hover);
}

@media screen and (min-width: 840px) {
    .nav-center {
        width: 100%;
        max-width: var(--max-width);
        margin: 0 auto;

        display: flex;
    }

    .nav-btn {
        display: none;
    }

    .nav-content {
        align-self: center;
        height: auto;
        width: 100%;
        background-color: transparent;
        padding-right: 0;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-links {
        padding-top: 0;

        display: flex;
        gap: 0 2rem;
    }

    .nav-link {
        color: var(--very-dark-violet);
        font-weight: 500;
    }

    .nav-link:hover {
        color: var(--grayish-violet);
    }

    .line {
        display: none;
    }

    .login-btn {
        color: var(--very-dark-violet);
    }

    .login-btn:hover {
        color: var(--grayish-violet);
    }

    .nav-btns {
        padding-bottom: 0;
        flex-direction: row;
        gap: 0 3rem;
    }

    .signup-btn {
        margin-bottom: 0;
        width: 15rem;
    }
}

@media screen and (min-width: 1180px) {
    .nav-center {
        padding: 0;
    }
}

/*=============*/
/*= Hero
/*=============*/
.hero {
    margin: 0 auto;
    margin-top: var(--nav-height);
    padding-bottom: 16rem;

    position: relative;
}

.container-img {
    width: 100%;
    height: calc(0.657 * 100vw);
    min-height: 30rem;
    max-height: 45rem;
    background-image: url("./images/illustration-working.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 3rem top 0;
}

.hero-content {
    padding: 0 3rem;
    margin-top: 8rem;
}

.hero_heading {
    max-width: 50rem;
    margin: 0 auto;
    text-align: center;
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.header-text {
    margin: 0 auto;
    max-width: 50rem;
    text-align: center;
    color: var(--grayish-violet);
    margin-bottom: 3rem;
}

.get-started-btn {
    margin: 0 auto;
}

@media screen and (min-width: 650px) {
    .hero {
        display: flex;
        justify-content: space-between;

    }

    .container-img {
        order: 1;
        max-width: 650px;
    }

    .hero-content {
        padding-left: max(3rem, (100% - var(--max-width)) / 2);
        padding-right: 0;
        margin-top: 5rem;
    }

    .hero_heading {
        text-align: left;
        font-size: 5rem;
    }

    .header-text {
        text-align: left;
    }

    .get-started-btn {
        margin: 0;
    }
}

/*=============*/
/*= Form
/*=============*/
.form-section {
    position: absolute;
    left: max(3rem, (100% - var(--max-width)) / 2);
    right: max(3rem, (100% - var(--max-width)) / 2);
    bottom: 0;
    transform: translateY(50%);

    min-height: 3rem;
    padding: 2rem;
    background-color: var(--dark-violet);
    background-image: url("./images/bg-shorten-mobile.svg");
    background-repeat: no-repeat;
    background-position: top right;
    border-radius: 0.75rem;
}

.form-row {
    margin-bottom: 2rem;
}

.form-input {
    width: 100%;
    font-size: inherit;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    margin-bottom: 0.5rem;
}

.form-input:focus {
    outline: 3px solid var(--red);
}

.alert {
    color: var(--red);
    font-size: 1.25rem;
    font-style: italic;
    display: none;
}

.error.form-input::placeholder {
    color: var(--red);
}

.show {
    display: block;
}

.form-btn {
    width: 100%;
    font-size: inherit;
    font-weight: 700;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--cyan);
    color: var(--white);
    cursor: pointer;
    transition: var(--transition);
}

.form-btn:hover {
    background-color: var(--cyan-hover);
}

@media screen and (min-width: 650px) {
    .form-section {
        padding: 3.5rem 4rem;
        padding-bottom: 1.7rem;
        background-color: var(--dark-violet);
        background-image: url("./images/bg-shorten-desktop.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .form {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 0 2rem;
    }

    .form-row {
        margin-bottom: 0;
    }

    .alert {
        display: block;
        opacity: 0;
        transition: var(--transition);
    }

    .show {
        opacity: 1;
    }

    .form-btn {
        align-self: start;
        padding: 1rem 2.5rem;
    }
}

/*=============*/
/*= Link
/*=============*/
.links {
    max-width: var(--max-width);
    margin: 0 auto;
    margin-bottom: 1.5rem;
    background-color: var(--white);
    padding: 1.5rem 0;
    border-radius: 0.75rem;
}

.link {
    font-size: 1.6rem;
    margin-left: 1.5rem;
    color: var(--very-dark-blue);
    font-weight: 500;
}

.link-short {
    font-size: 1.6rem;
    margin-left: 1.5rem;
    color: var(--cyan);
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.link-btn {
    margin: 0 1.5rem;
    width: calc(100% - 3rem);
    font-size: inherit;
    font-weight: 700;
    padding: 1rem 2.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--cyan);
    color: var(--white);
    cursor: pointer;
    transition: var(--transition);
}

.link-btn:hover {
    background-color: var(--cyan-hover);
}

.link-copied {
    background-color: var(--dark-violet);
}

@media screen and (min-width: 840px) {
    .links {
        display: grid;
        grid-template-columns: 3fr 1fr 15rem;
        align-items: center;
    }

    .link-short {
        margin-left: 0;
        margin-bottom: 0;
    }
}

/*=============*/
/*= Links container
/*=============*/
.links-container {
    background-color: var(--gray-light);
    margin: 0 auto;
    padding: 10rem 3rem 3rem 3rem;
}

/*=============*/
/*= Statistics
/*=============*/
.stats {
    background-color: var(--gray-light);
    margin: 0 auto;
    padding: 0 3rem 10rem 3rem;
}

.stats-info {
    max-width: var(--max-width);
    margin: 0 auto;
}

.stats-heading {
    text-align: center;

    margin-bottom: 3rem;
}

.stats-text {
    margin: 0 auto;
    margin-bottom: 10rem;
    text-align: center;
    color: var(--grayish-violet);
    max-width: 43rem;
    font-size: 1.6rem;
    line-height: 1.6;
}

.cards-container {
    max-width: var(--max-width);
    margin: 0 auto;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem 0;
}

.card {
    background-color: var(--white);
    border-radius: var(--border-radius-sm);
    max-width: 35rem;
    padding: 3rem 1.5rem;
    text-align: center;

    z-index: 5;
}

.card-heading {
    font-size: 2.1rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.card-text {
    font-size: 1.6rem;
    color: var(--grayish-violet);
    line-height: 1.7;
    margin-bottom: 1rem;
}

.brand, .records, .custom {
    position: relative;
}

.brand-img, .records-img, .custom-img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 7.5rem;
    height: 7.5rem;
    padding: 2rem;
    border-radius: 50%;
    background-color: var(--dark-violet);
}

.cards-container::before {
    content: '';
    height: 100%;
    width: 8px;
    background-color: var(--cyan);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

@media screen and (min-width: 1120px) {
    .cards-container {
        height: 38rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .card {
        text-align: left;
        padding: 3rem 2.5rem;
        z-index: 5;
    }

    .brand {
        align-self: flex-start;
    }

    .custom {
        align-self: flex-end;
    }

    .brand-img, .records-img, .custom-img {
        left: 20%;
    }

    .cards-container::before {
        content: '';
        height: 8px;
        width: 100%;
        background-color: var(--cyan);
        position: absolute;
        top: 45%;
        left: 0;
        transform: translateY(-50%);
        z-index: 2;
    }

}

/*=============*/
/*= Get Started
/*=============*/
.get-started {
    height: 30rem;
    background-color: var(--dark-violet);
    background-image: url("./images/bg-boost-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.get-started-heading {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--white);
}

@media screen and (min-width: 650px) {
    .get-started {
        height: 25rem;
        background-image: url("./images/bg-boost-desktop.svg");
    }
}

/*=============*/
/*= Footer
/*=============*/
.footer {
    background-color: var(--very-dark-violet);
    padding: 6rem 0;
    color: var(--white);
    text-align: center;
}

.footer-heading {
    margin-bottom: 4rem;
}

.footer-features, .footer-resources, .footer-company {
    margin-bottom: 4rem;
}

.footer h3 {
    font-size: 1.8rem;
    margin-bottom: 3rem;
}

.footer li {
    font-size: 1.6rem;
    color: var(--gray);
    line-height: 2;
    cursor: pointer;
    transition: var(--transition);
}

.footer li:hover {
    color: var(--cyan);
}

.footer-icons {
    width: 50%;
    max-width: 25rem;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
}

.footer-link {
    display: block;
}

.footer-img {
    font-size: 3rem;
    cursor: pointer;
    color: var(--white);
    transition: var(--transition);

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-img:hover {
    color: var(--cyan);
}

@media screen and (min-width: 650px) {
    .footer-container {
        max-width: var(--max-width);
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1120px) {
    .footer {
        text-align: left;
    }

    .footer-container {
        display: grid;
        grid-template-columns: 3fr 2fr 2fr 2fr 3fr;
    }

    .footer-container div {
        margin-bottom: 0;
    }

    .footer-icons {
        align-self: flex-start;
        width: 100%;
        justify-content: space-around;
    }
}

/*==============*/
/*= Spinner
/*==============*/
.loading-container {
    max-width: var(--max-width);
    margin: 0 auto;
    height: 8rem;
    background-color: var(--gray-light);

    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 4px solid var(--dark-violet);
    border-top-color: var(--cyan);
    animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

















